@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(211, 255, 255);
}

header {
  background: darkslategrey;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  background: darkslategrey;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 40px;
  margin-right: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}



@media (max-width: 767px) {
  nav ul li{
    display: block;
  }
}


main {
  flex: 1;
}

.section {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}

#inicio {
  background: rgba(47, 79, 79, 0.897);
  margin-bottom: 2rem;
  max-width: 900px;
  width: 100%;
  justify-self: center;
}



@media (max-width: 980px) {
  #inicio {
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card img {
  max-width: 100%;
  height: 100px;
  margin-left: 0.5rem;
  margin-right: 2rem;
  border-radius: 50%;
  border: #fff 2px solid;
}

#proyectos {
  background: #ddc96d;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#proyectos .galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 1rem;
  padding: 2rem;
}

@media (max-width: 768px) {
  #proyectos .galeria {
    display: flex;
    flex-direction: column;
  }
}

#proyectos .imagen {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

#proyectos .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#proyectos .imagen:hover img {
  transform: scale(1.1);
}

#proyectos .imagen.grande {
  grid-column: span 2;
  grid-row: span 2;
}

#servicios {
  background: #b6f080;
  color: #365816;
  padding: 1rem;
  margin-bottom: 2rem;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#servicios .cards-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#servicios .tarjeta-3d {
  position: relative;
  width: 200px;
  min-height: 230px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#servicios .tarjeta-frente,
#servicios .tarjeta-dorso {
  position: absolute;
  width: 90%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.6s ease;
}

#servicios .tarjeta-frente {
  background-color: #538524;
  color: white;
  transform: rotateY(0deg);
}

#servicios .tarjeta-dorso {
  background-color: #538524;
  color: white;
  transform: rotateY(180deg);
}

#servicios .tarjeta-3d:hover .tarjeta-frente {
  transform: rotateY(180deg);
}

#servicios .tarjeta-3d:hover .tarjeta-dorso {
  transform: rotateY(360deg);
}

#sobremi {
  background: #189ec0;
  padding: 1rem;
  margin-bottom: 2rem;
}

#sobremi h2 {
  color: #fff;
  text-align: center;
}

#sobremi p {
  color: #fff;
  margin-bottom: 1rem;
}

#eventos {
  background: #df3ca0;
  padding: 1rem;
  margin-bottom: 2rem;
}

#eventos .tituloEvento {
  color: #fff;
  margin-bottom: 1rem;
}

#eventos .listaEventos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#eventos .evento {
  background: #df8dbf;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px #da0287;
  min-width: 250px; /* pienso que con el responsive andaria bien */
  width: calc(33.333% - 2rem);
}
#eventos .evento img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border-radius: 8px;
}

#eventos .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#eventos .imagen:hover img {
  transform: scale(1.1);
}

#contacto {
  background: #d9e43f;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #373a15;
}
